* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  padding: 0 2%;
}

.logo img {
  height: 7vh;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

li {
  list-style: none;
}

.left-side li {
  height: 10vh;
  display: flex;
  align-items: center;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0.1;
}

.account {
  display: flex;
  align-items: center;
  margin-right: 30%;
}

.account:hover {
  cursor: pointer;
}

.right-side img {
  height: 5vh;
  border-radius: 50px;
  margin-right: 20%;
}

.dropdown-caret {
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}

.dropdown {
  position: absolute;
  top: 8vh;
  right: 1vh;
  border: 0.5px solid;
  border-radius: 5px;
  border-color: #212121;
  padding: 0.5%;
  box-shadow: 0 0 10px #212121;
  background-color: black;
  z-index: 2;
}

.user-name {
  margin-bottom: 5%;
  padding: 2%;
  width: 180px;
  border-bottom: 1px solid #212121;
  color: #757575;
}

.user-name:hover {
  cursor: default;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
}

.dropdown li {
  padding: 2%;
  width: 180px;
}

.dropdown li:hover {
  background-color: #424242;
  border-radius: 3px;
}

body {
  margin: 0;
  padding: 0ch;
  font-size: 20;
  font-style: oblique;
  background-color: black;
  font-family: "Overpass Mono", monospace;
  color: #f5f5f5;
}
.heading {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(97, 73, 238);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 30px 0;
  text-align: center;
}
.Heading {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(238, 221, 73);
  font-weight: 800;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 30px 0;
  text-align: center;
}
.Main_div {
  padding: 5rem;
  width: 18rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 10rem;
  margin-left: 40em;
  margin-right: 40em;
  color: blueviolet;
  border: 2px outset rgb(165, 180, 189);
  background-color: rgb(135, 206, 235);

  text-align: center;
  border-radius: 5px;
}

button {
  padding: 12px 20px;
  background: cornflowerblue;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.info {
  margin-top: 10rem;
}
image {
  height: 30px;
  width: 30px;
}
input {
  background-color: bisque;
  border-radius: 2rem;
}
.abcd {
  height: 4rem;
  width: 5rem;
  text-align: center;
}
.wave {
  opacity: 0.3;
  position: absolute;
  top: 120%;
  left: 50%;
  background: white;
  width: 50rem;
  height: 50rem;
  margin-left: -25rem;
  margin-top: -20rem;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  z-index: 1;
}
.wave-one {
  animation: drift 5000ms infinite linear;
  z-index: 2 !important;
  opacity: 0.3;
}
.wave-two {
  animation: drift 7000ms infinite linear;
  z-index: 3 !important;
  opacity: 0.2;
}
.wave-three {
  animation: drift 9000ms infinite linear;
  z-index: 4 !important;
  opacity: 0.1;
}

.time {
  text-align: right;
  padding-right: 2rem;
  font-style: italic;
  margin-bottom: 2rem;
}
.scraper {
  text-align: left;
  height: 10rem;
  width: 10rem;
  margin-top: 2rem;
}
.firstimg {
  height: 20rem;
  width: 100rem;
  text-align: right;
}
.hh1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: blue;
  font-size: 6rem;
  text-align: center;
}
.firediv {
  height: 10rem;
  display: inline-block;
  display: flex;
}
.firediv2 {
  display: inline;
  text-align: center;
  padding-left: 25rem;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.firediv3 {
  text-align: right;
}
.footer {
  background-color: rgb(0, 0, 0);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 250;
}
.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background: blue;
}
.login {
  margin-top: 25rem;
  margin-bottom: 25rem;
  margin-left: 25rem;
  margin-right: 25rem;
  background-color: darkgray;
}
.imgs {
  height: 2rem;
  width: 2rem;
}
.pattern {
  margin-top: 4rem;
}
.firstpart {
  background-image: url("success.jpg");
  opacity: 5rem;
  height: 30rem;
  align-content: center;
  margin-top: 2rem;
}
.hed {
  font-size: 5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: blue;
}
.imgtop {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.one {
  font-size: 5rem;
  color: brown;
  margin-right: 10rem;
  white-space: pre-line;
}
.two {
  font-size: 4rem;
  color: blueviolet;
  display: list-item;
  white-space: pre-wrap;
}
.three {
  font-size: 3rem;
  color: coral;
  display: list-item;
  white-space: pre-wrap;
}
.sirstpart {
  opacity: 5rem;
  height: 30rem;
  align-content: initial;
  margin-left: 25rem;
  margin-right: 5rem;
}
.imgtops {
  height: 25rem;
  width: 25rem;
  display: flex;
}
.conf1 {
  height: 25rem;
  width: 30rem;
  display: flex;
}
.imgtops1 {
  height: 25rem;
  width: 30rem;
  display: flex;
  margin-right: 10rem;
}
.others {
  margin-top: 2rem;
}

.float-container {
  border: 5px blue;
  padding: 20px;
  height: 50rem;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 3px black;
}
.answer {
  background-color: lightgrey;
  width: 60rem;
  height: 40rem;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.form11 {
  margin-top: 10rem;
  margin-bottom: 10rem;
  align-content: center;
}
.box11 {
  grid-row: auto;
  grid-column: auto;
  border-radius: 2px;
  white-space: nowrap;
  height: 20rem;
  width: 30rem;
}

/* Chatting-App Css*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#chat-load {
  background-image: url("./abc.jpg");
  background-size: cover;
  opacity: 0.4;
  transition: all 0.3s ease 0s;
}
#chat-load:hover {
  opacity: 1;
}
.chat {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 187, 255);
}

section.chat__section {
  width: 800px;
  max-width: 90%;
  background: transparent;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
  padding: 20px;
  background: transparent;
  display: flex;
  align-items: center;
}
.brand h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #444;
  margin-left: 10px;
}
.message__area {
  height: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.3s ease 0s;
  background-color: transparent;
}
#textarea {
  width: 100%;
  border: none;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease 0s;
  background-color: rgba(154, 255, 255, 0.8);
  color: Black;
}

.message {
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  width: 300px;
  position: relative;
}
.incoming {
  background: #8f8be8;
  color: #fff;
}
.outgoing {
  background: #e9eafd;
  color: #787986;
  margin-left: auto;
}
.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #333;
  font-size: 14px;
}

.brand h1 {
  text-align: center;
  width: 100vw;
}
